<a href="https://colab.research.google.com/github/anapmdm/Intro-ao-Pandas/blob/main/Informa%C3%A7%C3%B5es_Estatisticas_com_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Informações Estatisticas com Pandas**

In [3]:
#importando pandas
import pandas as pd

#importando o df
df= pd.read_csv('http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv')
df.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

**Resumo das informações**
* count - quantidade de entradas válidas
* mean - média dos valores
* std - desvio padrão
* min - menor valor da coluna
* 25% - percentil 25
* 50% - percentil 50 (e mediana)
* 75% - percentil 75
* max - maior valor da coluna

In [4]:
#Descrevendo o df
df.describe()

       ride_duration      ride_late
count  214148.000000  214148.000000
mean       29.915932       0.098829
std        58.857297       0.298433
min         3.000000       0.000000
25%         8.083333       0.000000
50%        14.200000       0.000000
75%        33.766667       0.000000
max       999.600000       1.000000

**Calculando Médias**

In [7]:
#calculando media de uma coluna
df.ride_duration.mean()

29.915931894453134

**Calculando Mediana**

A mediana é otima para verificar o valor do meio, assim fica mais claro saber se há valores fora de padrão em comparação com máximas e a média.

Na descrição é o valor de 50%.

In [8]:
#calculando a mediana
df.ride_duration.median()

14.2

**Desvio Padrão**
Usamos std.

In [9]:
#calculando o desvio padrão
df.ride_duration.std()

58.85729654164017

In [12]:
#Media
df.ride_duration.mean()

29.915931894453134

In [10]:
#Valor Máximo
df.ride_duration.max()

999.6

In [11]:
#Valor Minimo
df.ride_duration.min()

3.0